body {
    margin: 0;
}

.line {
    width: 33%;
    border-color: red;
}

.text {
    font-size: 1em;
    padding: 15px;
}

.title {
    margin: 0;
    text-decoration: underline;
    font-size: 2.5em;
}

section:nth-child(even) {
    background-color: rgb(231, 222, 230);

}

section:nth-child(odd) {
    background-color: rgb(63, 59, 62);
    color: white;
}

section {
    height: 25vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}