:root {
    --active-color: blue;
    --icon-color: red;
    --sidebar-image: url('assets/sidebar-1.jpg');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(250px, auto)1fr;
    grid-template-rows: 1fr;
    background-color: rgb(238, 238, 238);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.main-container {
    height: 100vh;
    overflow-y: scroll;
}

.nav-container {
    height: 100vh;
    overflow-y: scroll;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
}

nav {
    background: var(--sidebar-image) no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0.7rem;
    background-color: rgba(10, 9, 9, 0.8);
    background-blend-mode: darken;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 0.6rem;
}

nav a {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: white;
    border-radius: 0.6rem;
    font-size: 0.8em;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.41);
}

.active {
    background: var(--active-color);
    color: white;
}


.header-container {
    display: flex;
    align-items: center;
}

.header-icon {
    cursor: pointer;
}

.notification-dropdown {
    position: relative;
    display: inline-block
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 15rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: -0.9rem;
    right: 1.2rem;
}

.notification-dropdown:hover .dropdown-content {
    display: block;
}

.notification-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-dropdown ul li {
    padding: 0.4rem;
    transition: background-color 0.3s;
}

.notification-dropdown ul li:hover {
    background-color: var(--active-color);
    cursor: pointer;
}



.menu {
    display: none;
}

.header-circle {
    background-color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    box-shadow: 0rem 0rem 0.5rem 0rem grey;
    cursor: pointer;
    transition: box-shadow 0.9s;
}

.header-circle:hover {
    box-shadow: 0rem 0rem 0.7rem 0.2rem grey;
}

.dashboard {
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.search-bar {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    color: rgb(144, 144, 144);
}


.search-bar-input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    color: inherit;
    border-bottom: 1px solid black;

}

.search-bar-input::placeholder {
    color: #b6b6b6;
}



.search-icon {
    border-radius: 50%;
    background-color: white;
    color: black;
    padding: 0.6rem;
    cursor: pointer;
    transition: box-shadow 0.9s;
}

.search-icon:hover {
    box-shadow: 0rem 0rem 0.5rem 0.2rem gray;
}

.search-icon:focus {
    box-shadow: 0rem 0rem 0.5rem 0.25rem gray;
}

.search-bar-input:focus {
    outline: none;
    border-bottom: 2px solid purple;
    transition: border-color 0.5s ease-out;
}


.header-container {
    display: flex;
    gap: 0.9rem;
    position: relative;
}

.badge {
    position: absolute;
    top: -0.2rem;
    right: -0.1rem;
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 0.8em;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid white;
    color: white;
    margin: 0.5rem;
    font-size: 1.2rem;
}

.logo {
    border-bottom: 1px solid white;
    padding: 0.6rem;
    margin: 0.1rem;
    text-align: left;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.profile-img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.2rem;
}


.tablemap-header {
    position: absolute;
    display: flex;
    top: -1rem;
    left: 1rem;
    width: 100%;
}

.tablemap-header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: 100;

}

.tablemap-icon {
    background-color: green;
    color: white;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.6rem;
}

.table-map {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2rem;
    box-shadow: 0rem 0rem 0.6rem 0rem grey;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 5rem;
    position: relative;
}

.table {
    display: flex;
}


table {
    border-collapse: collapse;
}

td {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8em;
}

table tr td {
    border-bottom: 1px solid black;
}


.card-info {
    display: flex;
    align-items: center;
    color: grey;
    border-top: 1px solid gray;
    padding: 1rem;
}

.top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 5rem;
    height: 5rem;
    padding: 0.6rem;
    position: absolute;
    top: -2rem;
}


.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

.card {
    padding: 1.7rem;
    border-radius: 0.6rem;
    background-color: white;
    position: relative;

}


.title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: black;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 0.6rem;
}


.apartment-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.9rem;
    justify-content: center;
}

.apartment-title {
    font-weight: 100;
}

.apartment-card {
    padding: 1.2rem;
    border-radius: 0.6rem;
    background-color: white;
    box-shadow: 0rem 0rem 0.2rem 0rem gray;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.6rem;
}

.apartment-card img {
    border-radius: 0.6rem;
    margin-top: -3rem;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}

.apartment-card img:hover {
    transform: translateY(-2rem);
}

.edit-icons {
    display: flex;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 11.3rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.apartment-card img:hover+.edit-icons {
    opacity: 1;
}



.edit-icons .view {
    font-size: 1.6em;
    color: #444;
    cursor: pointer;
}

.edit-icons .edit {
    font-size: 1.3em;
    color: green;
    cursor: pointer;
}

.edit-icons .close {
    font-size: 1.3em;
    color: red;
    cursor: pointer;
}

.apartment-name {
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 0.3rem;
}

.apartment-description {
    font-size: 0.8em;
}

.apartment-card p {
    color: grey;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
}

.apartment-card-info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    color: black;
    border-top: 1px solid black;
}

.price {
    font-size: 1.1em;
}

.location {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    color: grey;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.2rem;
    border-top: 1px solid grey;
}

footer a {
    text-decoration: none;
    color: black;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: rgb(222, 44, 104);
}

.green {
    background-color: rgb(80, 168, 83);
}

.blue {
    background-color: rgb(90, 183, 203);
}


@media only screen and (max-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }

    .nav-container {
        display: none;
    }

    nav {
        display: none;
    }

    .menu {
        display: inline-block;
    }

    .circle {
        display: none;
    }

    .left {
        display: none;
    }

    .table-map {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }

    table {
        width: 100%;
    }

    .apartment-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}