/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


:root {
	--active-color: red;
	--sidebar-image: url('assets/sidebar-1.jpg');
	--sidebar-overlay: rgba(10, 9, 9, 0.8);
	--tablemap-icon: rgb(79, 166, 80);
	--bookings-icon: rgb(255, 165, 0);
	--websitevisits-icon: rgb(222, 44, 104);
	--revenue-icon: rgb(80, 168, 83);
	--followers-icon: rgb(90, 183, 203);
	--background-color: rgb(238, 238, 238);

}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: minmax(250px, auto)1fr;
	grid-template-columns: minmax(250px, auto)1fr;
	-ms-grid-rows: 1fr;
	grid-template-rows: 1fr;
	background-color: var(--background-color);
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}

body>*:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

body>*:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

.main-container {
	height: 100vh;
	overflow-y: scroll;
}

.nav-container {
	height: 100vh;
	overflow-y: scroll;
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.6rem;
}

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 3rem;
	padding: 1rem;
}

nav {
	background: var(--sidebar-image) no-repeat;
	background-size: cover;
	padding: 0.7rem;
	background-color: var(--sidebar-overlay);
	background-blend-mode: darken;
	min-height: 100vh;
}

ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
}

nav ul li {
	margin-bottom: 0.6rem;
}

nav a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1rem;
	text-decoration: none;
	color: white;
	border-radius: 0.3rem;
	font-size: 0.8em;
}

nav a .show-more {
	margin-left: auto;
}

nav a:not(.active):hover {
	background: rgba(255, 255, 255, 0.41);
}



.active {
	background: var(--active-color);
	color: white;
}




.header-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-icon {
	cursor: pointer;
	margin-right: 0.75rem;
}

.notification-dropdown {
	position: relative;
	display: inline-block
}


.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 15rem;
	-webkit-box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
	box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
	z-index: 1;
	top: -0.5rem;
	right: 1.8rem;
}

.notification-dropdown ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.notification-dropdown ul li {
	padding: 0.4rem;
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.notification-dropdown ul li:hover {
	background-color: var(--active-color);
	color: white;
	cursor: pointer;
}


.menu {
	display: none;
	cursor: pointer;
}

.header-circle {
	background-color: white;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 1rem;
	-webkit-box-shadow: 0rem 0rem 0.5rem 0rem grey;
	box-shadow: 0rem 0rem 0.5rem 0rem grey;
	cursor: pointer;
	-webkit-transition: -webkit-box-shadow 0.9s;
	transition: -webkit-box-shadow 0.9s;
	-o-transition: box-shadow 0.9s;
	transition: box-shadow 0.9s;
	transition: box-shadow 0.9s, -webkit-box-shadow 0.9s;
}

.header-circle:hover {
	-webkit-box-shadow: 0rem 0rem 0.7rem 0.2rem grey;
	box-shadow: 0rem 0rem 0.7rem 0.2rem grey;
}

.dashboard {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	gap: 1rem;
}

.search-bar {
	padding: 0.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: rgb(144, 144, 144);
}


.search-bar-input {
	border: none;
	background-color: transparent;
	outline: none;
	font-size: 1rem;
	color: inherit;
	border-bottom: 0.06rem solid black;

}

.search-bar-input::-webkit-input-placeholder {
	color: #b6b6b6;
}

.search-bar-input::-moz-placeholder {
	color: #b6b6b6;
}

.search-bar-input:-ms-input-placeholder {
	color: #b6b6b6;
}

.search-bar-input::-ms-input-placeholder {
	color: #b6b6b6;
}

.search-bar-input::placeholder {
	color: #b6b6b6;
}


.search-icon {
	border-radius: 50%;
	background-color: white;
	color: black;
	padding: 0.8rem;
	cursor: pointer;
	-webkit-transition: -webkit-box-shadow 0.9s;
	transition: -webkit-box-shadow 0.9s;
	-o-transition: box-shadow 0.9s;
	transition: box-shadow 0.9s;
	transition: box-shadow 0.9s, -webkit-box-shadow 0.9s;
}

.search-icon:hover {
	-webkit-box-shadow: 0rem 0rem 0.5rem 0.2rem gray;
	box-shadow: 0rem 0rem 0.5rem 0.2rem gray;
}

.search-icon:focus {
	-webkit-box-shadow: 0rem 0rem 0.5rem 0.25rem gray;
	box-shadow: 0rem 0rem 0.5rem 0.25rem gray;
}

.search-bar-input:focus {
	outline: none;
	border-bottom: 2px solid purple;
	-webkit-transition: border-color 0.5s ease-out;
	-o-transition: border-color 0.5s ease-out;
	transition: border-color 0.5s ease-out;
}


.header-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.badge {
	position: absolute;
	top: -0.2rem;
	right: 0.6rem;
	display: inline-block;
	background-color: red;
	color: white;
	font-size: 0.8em;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


.profile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1.3rem 0;
	border-bottom: 0.06rem solid rgb(94, 86, 86);
	color: white;
	margin-bottom: 0.9rem;
	font-size: 1.2rem;
}

.logo {
	border-bottom: 0.06rem solid rgb(94, 86, 86);
	padding: 1rem;
	text-align: left;
	color: white;
	text-transform: uppercase;
	font-size: 1.3rem;
}

.nav-icon {
	margin-right: 0.75rem;
}

.profile-img {
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	margin: 0rem 0.4rem 0rem 0.8rem;
}

.profile-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.expand_more {
	margin-left: 2.7rem;
}

.tablemap-header {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	top: -1rem;
	left: 1rem;
	width: 100%;
}

.tablemap-header h2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	font-weight: 100;

}

.tablemap-icon {
	background-color: var(--tablemap-icon);
	color: white;
	width: 5rem;
	height: 5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 0.6rem;
}

.table-map {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 2rem 1fr;
	grid-template-columns: auto 1fr;
	grid-gap: 2rem;
	background-color: white;
	border-radius: 0.4rem;
	padding: 1rem;
	padding-top: 5rem;
	position: relative;
}

.table {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}


table {
	border-collapse: collapse;
}

td {
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 0.8em;
}

table tr td {
	border-bottom: 0.06rem solid grey;
}

table tr:last-child td {
	border-bottom: none;
}


.card-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: grey;
	border-top: 0.06rem solid gray;
	padding: 1rem;
}

.top-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: white;
	width: 5rem;
	height: 5rem;
	padding: 0.6rem;
	position: absolute;
	top: -2rem;
}


.dashboard-cards {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 3rem 1fr;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 3rem;
}

.card {
	padding: 1.7rem;
	border-radius: 0.4rem;
	background-color: white;
	position: relative;
}

.card-icon {
	font-size: 1em;
}

.revenue-label,
.followers-label,
.time-period,
.upload-status,
.bookings-label,
.warning,
.website-visits,
.sellings {
	font-size: 0.8em;
}

.revenue-amount,
.followers-count,
.bookings-count,
.website-visits-amount,
.visits-amount {
	font-size: 1.4em;
}

.card-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	color: black;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 0;
	padding: 0.6rem;
}


.apartment-container {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1.9rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.apartment-title {
	font-weight: 100;
}

.apartment-card {
	padding: 1.2rem;
	border-radius: 0.6rem;
	background-color: white;
	-webkit-box-shadow: 0rem 0rem 0.2rem 0rem gray;
	box-shadow: 0rem 0rem 0.2rem 0rem gray;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0.6rem;
}

.apartment-card img {
	border-radius: 0.6rem;
	margin-top: -3.5rem;
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: -webkit-transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
	width: 100%;
	z-index: 1;
}


.edit-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 0;
	width: 100%;
}


.image-container:hover img {
	-webkit-transform: translateY(-2rem);
	-ms-transform: translateY(-2rem);
	transform: translateY(-2rem);
}

.image-container .edit-icons {
	opacity: 0;
	margin-top: -2rem;

}

.image-container:hover .edit-icons {
	opacity: 1;
}


.edit-icons .view {
	font-size: 1.6em;
	color: #444;
	cursor: pointer;
}

.edit-icons .edit {
	font-size: 1.3em;
	color: green;
	cursor: pointer;
}

.edit-icons .delete {
	font-size: 1.3em;
	color: red;
	cursor: pointer;
}

.apartment-name {
	color: black;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 1.2em;
	padding: 0.5rem;
}

.apartment-description {
	font-size: 0.8em;
	margin-top: auto;
}

.apartment-card p {
	color: grey;
	font-size: 1em;
	text-align: center;
	padding: 1rem;
}

.apartment-card-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 1rem;
	color: black;
	border-top: 0.06rem solid black;
	padding: 0.6rem;
}

.price {
	font-size: 1.1em;
}

.location {
	font-size: 0.8em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: grey;
}

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1rem;
	margin: 1rem;
	font-size: 1.2rem;
	border-top: 0.06rem solid grey;
}

footer a {
	text-decoration: none;
	color: black;
}

.orange {
	background-color: var(--bookings-icon);
}

.pink {
	background-color: var(--websitevisits-icon);
}

.green {
	background-color: var(--revenue-icon);
}

.blue {
	background-color: var(--followers-icon);
}


@media only screen and (max-width: 1000px) {
	body {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.nav-container {
		display: none;
	}

	nav {
		display: none;
	}

	.menu {
		display: inline-block;
	}

	.circle {
		display: none;
	}

	.left {
		display: none;
	}

	.table-map {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		position: relative;
	}

	table {
		width: 100%;
	}

	.apartment-container {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	.edit-icons {
		margin-top: -0.9rem;
	}
}


@media screen and (max-width: 768px) {
	.dashboard-cards {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-gap: 3rem;
	}
}