body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo img {
  border-radius: 50%;
  width: 10rem;
  filter: blur(10px);
  transition: transform 1s, filter 1s;
}

.logo img:hover {
  transform: rotate(360deg);
  filter: blur(0);
}