h1 {
    background-color: rgb(138, 233, 201);
    color: black;
    font-size: 30px;
}

h2 {
    background-color: rgb(7, 84, 161);
}

p {
    background-color: rgb(126, 250, 194);
    width: 500px;
}