* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-color: rgb(28, 26, 28);
    padding: 20px;
  }
  
  #stopwatch {
    font-size: 4em;
    margin-bottom: 20px;
    color: white;
  }
  
  #laps {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    color: white;
  }
  
  th, td {
    border-bottom: 1px solid grey;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  #controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  button {
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    flex: 1;
    margin: 0 5px; /* Added margin */
  }
  
  #start, #reset {
    background-color: green;
    color: white;
  }
  
  #stop {
    background-color: red;
    color: white;
  }